.radio {
    -webkit-appearance: none; /* Отключаем стандартный стиль в WebKit */
    appearance: none;         /* Современный способ отключения */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000000;
    position: relative;
    cursor: pointer;
    outline: none;           /* Убираем стандартную обводку фокуса */
    background: transparent; /* Прозрачный фон */
    margin: 0;               /* Убираем стандартные отступы */
}

.radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;            /* Уменьшаем размер внутреннего круга */
    height: 10px;
    border-radius: 50%;
    background: #000000;
    opacity: 0;
    transition: opacity 0.2s;
}

.radio:checked::before {    /* Исправлен селектор - добавили :: */
    opacity: 1;
}

.label {
    display: flex;
    justify-content: start;
    gap: 20px;
    cursor: pointer;
    margin-top: 0.7rem;
}

.options {
margin-top: 1rem;
}
