.burgerMenuIcon {
    width: 24px;
    height: 24px;

}

.header {
    display: flex;
    align-items: center;
   justify-content:  space-between;
    padding: 0 30px;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}